body {
  font-family: "Roboto", sans-serif;
  background-color: #1d1d1d;
  color: #eaeaea;
}

.controls-container {
  margin-top: 10px;
}

.event {
  cursor: pointer;
}

.fc-day {
  cursor: pointer;
}

.fc-day:hover {
  background-color: rgb(211, 211, 211, 0.3);
}

:root {
  --fc-border-color: #707070;
}
